<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Bcnvision_Catalog.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Opc.Ua.Server" publicKeyToken="78aea80f6827b5ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.342.0" newVersion="1.3.342.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Opc.Ua.Core" publicKeyToken="78aea80f6827b5ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.342.0" newVersion="1.3.342.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Opc.Ua.Client" publicKeyToken="78aea80f6827b5ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.342.0" newVersion="1.3.342.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Opc.Ua.Configuration" publicKeyToken="78aea80f6827b5ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.342.0" newVersion="1.3.342.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Bcnvision_Catalog.Properties.Settings>
      <setting name="DriveUnit" serializeAs="String">
        <value>K</value>
      </setting>
      <setting name="Company" serializeAs="String">
        <value>Nevitec</value>
      </setting>
      <setting name="LanguageMode" serializeAs="String">
        <value>Spanish</value>
      </setting>
      <setting name="DrivePwd" serializeAs="String">
        <value>bcnvision2022</value>
      </setting>
    </Bcnvision_Catalog.Properties.Settings>
  </userSettings>
</configuration>